[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
psycopg2-binary = "*"
tzdata = "*"
djangorestframework-simplejwt = "*"
celery = "*"
django-celery-beat = "*"
redis = "*"
timedelta = "*"
"backports.weakref" = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.10"
